body {
  font-family: "Inter", sans-serif;
}
.landingBg {
  background-image: url("/public/images/bgup.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.landingBgMobile {
  background-image: url("/public/images/bgup.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vh;
}

.sign-up-form {
  background-color: #f7f7f7 !important;
}
.example::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none !important;
}
.footer-link {
  color: #040404 !important;
}
.paperBg {
  background-image: "url(images/paperbackground.png)";
}
#bgVisibility {
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(144, 144, 144, 0.265625) 21.88%,
      rgba(96, 96, 96, 0.510417) 43.75%,
      rgba(53, 53, 53, 0.729167) 61.98%,
      #000000 100%
    ),
    url("/public/images/unsplash_VP5R-n47v9Q.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh;
}
#bgBusiness {
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(144, 144, 144, 0.265625) 21.88%,
      rgba(96, 96, 96, 0.510417) 43.75%,
      rgba(53, 53, 53, 0.729167) 61.98%,
      #000000 100%
    ),
    url("/public/images/unsplash_business.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh;
}
#bgCosturmers {
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(144, 144, 144, 0.265625) 21.88%,
      rgba(96, 96, 96, 0.510417) 43.75%,
      rgba(53, 53, 53, 0.729167) 61.98%,
      #000000 100%
    ),
    url("/public/images/unsplash_costurmers.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh;
}
#bgSteps {
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(161, 161, 161, 0.177083) 15.1%,
      rgba(139, 139, 139, 0.291667) 32.29%,
      rgba(87, 87, 87, 0.557292) 47.4%,
      rgba(44, 44, 44, 0.776042) 66.15%,
      #000000 100%
    ),
    url("/public/images/unsplash_howitworks.png");
}
.questionSegment {
  color: #7f7e7c;
}

#bgLanding {
  height: 100vh;
  background-image: url("/public/images/splash_image_edited.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  #bgLanding {
    height: 75vh;
  }
}
.restaurantCardHeader {
  font-size: 14px;
  font-weight: 900, bolder;
}
.restaurantCardText {
  font-size: 11px;
  font-weight: 400;
  color: #979797;
}
.rating-text {
  font-size: 11px;
  font-weight: 500;
}
.popular-dishes-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* my classes*/
.first-section {
  margin-top: 135%;
}
@media (min-width: 768px) {
  .first-section {
    margin-top: 48%;
  }
}
.border-r-5 {
  border-radius: 5%;
}
.border-r-5px {
  border-radius: 50px;
}
.backg-lin-grad {
  background-image: linear-gradient(
    180deg,
    rgba(247, 247, 247, 0) 32.81%,
    rgba(0, 0, 0, 0.5) 55.21%,
    #000000 90.1%
  );
}
.bg-black {
  background-color: black;
}
.bg-gr {
  background-color: #f7f7f7;
}
.cur-pointer {
  cursor: pointer;
}
.border-none {
  border: 0px !important;
}
.svg-icon {
  /*display: inline-block;*/
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}
.navbar-icon-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: black;
  border-radius: 50%;
  background: #d8baba;
  font-size: 0.6rem;
  line-height: 20px;
}
.mobile-menu {
  background-color: white;
  color: black;
  position: fixed;
  right: 0%;
  width: 55%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20%;
  z-index: 3;
  top: 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.overlay {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: black;
  opacity: 0.4;
}
.sec-menu {
  position: absolute;
  width: 120%;
  left: 0%;
  top: 120%;
  background-color: white;
  border-radius: 10px;
}
.sticky {
  transition: 0.5s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.sticky + .content {
  padding-top: 102px;
}
.custom-modal {
  position: fixed;
  top: 1%;
  left: 0;
  z-index: 1055;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
#food-as-bg {
  /*background-image: url(/public/images/unsplash_MqT0asuoIcU111.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  min-height: 90vh;
}
@media (max-width: 768px) {
  #food-as-bg {
    min-height: 30vh;
  }
}

.cart-modal-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

@media (min-width: 768px) {
  .cart-modal-image {
    border-top-right-radius: 0px;
  }
}

#food-as-small {
  height: 90vh;
  overflow-y: scroll;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}
@media (max-width: 768px) {
  #food-as-small {
    height: 65vh;
    overflow-y: scroll;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 0px;
  }
}
.add-to-cart {
  position: fixed;
  bottom: 5%;
  width: 50%;
  /*left: 5%;*/
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.in-circle {
  background-color: #eee;
}
/*.carb-btn-fix {
  position: fixed;
  bottom: 2%;
  left: 9%;
  width: 82%;
}
@media (min-width: 768px) {
  .carb-btn-fix {
    left: 30%;
    width: 60%;
  }
}*/
.detail-quantity {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.cart-close {
  position: fixed;
  background-color: white;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .cart-close {
    right: 5%;
  }
}
.cart-close:hover {
  transition: 0.5s;
  opacity: 1;
}
.cart-close:focus {
  transition: 0.5s;
  opacity: 1;
}
.cart-modal-options {
  max-height: 20%;
  overflow-y: auto;
}
.small-cart-text {
  font-size: 9px;
  color: #c4c4c4;
}
.medium-cart-text {
  font-size: 11px;
  color: #7f7e7c;
}
.d-grid{
  display: grid !important;
}


/* remodelling */
#myHeader{
  position: fixed;
  width: 100%;
  z-index: 1;
}
.bg-white-native{
  transition: .5s ease;
  background-color: white;
}
.btn-n-small{
  padding: 13px 30px !important;
  height: 51px !important;
  background: #F7F7F7 !important;
  border-radius: 10px !important;
}
.btn-n-medium{
  height: 70px !important;
  border-radius: 10px !important;
  padding: 0px 50px !important;
  width: 241px !important;
}
@media (max-width: 768px) {
  .btn-n-medium{ 
    height: 55px !important;
    width: 148px !important;
    padding: 15px 25px !important;
  }
}
.font-boldest-biggest{
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}
@media (max-width: 768px) {
  .font-boldest-biggest{ 
    font-size: 36px;
    line-height: 44px;
  }
}
.input-n-biggest{
  width: 100% !important;
  height: 70px !important;
  border-radius: 10px !important;
}
@media (max-width: 768px) {
  .input-n-biggest{ 
    height: 55px !important;
  }
}
.fs-24{
  font-size: 24px;
}
@media (max-width: 768px) {
  .fs-24{ 
    font-size: 14px;
  }
}